.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.VideoContainer {
  width: 100%;
  height: 400px;
}

.Menu {
  position: relative;
  height: 30px;
  background-color: #000;
}

.franceTvDot {
  font-size: 18px;
}

.header {
  text-align: center;
  color: #a3a5a8;
}

body {
  background-color: #000;
}

.PageContent {
  background-color: #191e25;
}

.Slidder {
  position: absolute;
}

.SlidderHeader {
  position: absolute;
  left: 30%;
  cursor: move;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
