.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Menu {
  position: relative;
  height: 30px;
  background-color: #000;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #191e25;
}

.carousel-cell {
  width: 65%;
  height: auto;
  margin-right: 10%;
}

.middle {
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
}

.carousel-cell-video {
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
}

.play-btn {
  color: #FFF;
  height: 60px;
  width: 50px;
  text-align: center;
}

.carousel-cell-info {
  position: absolute;
  color: white;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.pass-pub-link {
  text-decoration: none;
  color: #FFF;
}

.pass-pub-link:hover {
  color: #FFF;
}

.carousel-cell-pass {
  position: absolute;
  bottom: 20%;
  right: 2%;
  color: white;
  background: #000;
  width: 220;
  height: 100;
  opacity: 1;
  z-index: 2;
  padding: 10px;
  display: none;
}

.btn-space {
  margin: 8px;
  background: #191e25;
  width: 55;
}

.buton-center {
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 10%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: auto;
}

.franceTvDot {
  font-size: 18px;
}

.header {
  text-align: center;
  color: #a3a5a8;
}

.info-text {
  padding: 30px;
}

body {
  background-color: #000;
}

.PageContent {
  background-color: #191e25;
  height: 1000px;
}

.Slidder {
  position: absolute;
}

.SlidderHeader {
  position: absolute;
  cursor: move;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: '  ';
  height: 33px;
  width: 2px;
  background-color: #FFF;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

