body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-width {
  width: 18.825rem;
}

.center-img {
  margin-top: 10px;
  position: relative;
  left: 6.75rem;
}

.infobar {
  position: fixed;
  bottom: 0;
  height: 230px;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.card-title {
  text-transform: capitalize;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clock {
  font-size: 60px;
}

.pause-btn {
  height: 100px;
}

.infobar-bubble {
  height: 100%;
  padding-top: 10px;
}

.font-60 {
  font-size: 60px;
}